@page
@model IndexModel
@inject HttpClient HttpClient

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Library</h1>
</div>

@* <form  asp-page-handler="Books" method="post">
    <button> Get Books </button>
</form> *@

<form asp-page-handler="Books" method="post">
    <fieldset>
        <legend>Search Book</legend>
        <div>
            <label for="BookTitle">Book Title:</label>
            <input type="text" name="bookTitleKey" value="" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>

@if (@Model.BookTitles is not null)
{
    <ul>
        @foreach (var bookTitle in @Model.BookTitles)
        {
            <li>@bookTitle</li>
        }
    </ul>
}
